<div id="zippay-new"  style="display: none;" >
  <div class="outer">
    <div class="inner">
      <div class="zippay-box-cs">
        <div class="zippay-wrapper">
         <div class="logo-wrapper ">
             <img class="lazyload" data-src="{{ 'zip-logo.png' | asset_url }}" />
        </div>
          <div class="usp-wrapper">
            <div class="info-snippet-container">
                <div class="usp-img-container">
                    <img src="https://cdn.shopify.com/s/files/1/0226/0165/files/icon-heart.svg?292701" alt="heart icon" class="zm-icon">
                </div>
                <div class="usp-text-container">
                    <h1>Want it</h1>
                    <div class="usp-text">Choose the items</div>
                    <div class="usp-text">you love and select</div>
                  <div class="usp-text"><b>Zip at checkout</b></div>
                </div>
            </div>

            <div class="info-snippet-container">
                <div class="usp-img-container">
                    <img src="https://cdn.shopify.com/s/files/1/0226/0165/files/icon-cart.svg?292714" alt="cart icon" class="zm-icon">
                </div>

                <div class="usp-text-container">
                    <h1>Get it</h1>
                    <div class="usp-text">We pay the store,</div>
                    <div class="usp-text">you get the goods,</div>
                  <div class="usp-text"><b>nothing to pay today</b></div>
                </div>
            </div>

            <div class="info-snippet-container">
                <div class="usp-img-container">
                    <img src="https://cdn.shopify.com/s/files/1/0226/0165/files/icon-thumbsup.svg?292715" alt="thumbsup icon" class="zm-icon">
                </div>

                <div class="usp-text-container">
                    <h1>Own it</h1>
                    <div class="usp-text">Choose how you pay</div>
                    <div class="usp-text">us back over time,</div>
                  <div class="usp-text"><b>interest free</b></div>
                </div>
            </div>
        </div>
          <div class="flex-row-centered">
            <div class="footer-img-container margin-right-1"><img src="https://cdn.shopify.com/s/files/1/0226/0165/files/zm-logo-footer.svg?292716" alt="zip money logo"></div>
            <div class="footer-img-container"><img src="https://cdn.shopify.com/s/files/1/0226/0165/files/zp-logo-footer.svg?292717" alt="zip pay logo"></div>
        </div>
          <div class="terms-view">
            <p class="terms">*A $6 monthly account fee applies. Pay your balance by the due date <br> (the end of next month) and we'll waive the fee. <a target="_blank" href="//zip.co/terms">See full Ts &amp; Cs</a> </p>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>