{% if plus_cart_discount_code %}  
  <div class="discountcodefield"> 
    <div class="discount-view mobile text-left">
    <label for="discount" class="lbl_discount">GIFT CARD OR DISCOUNT CODE</label> 
    <div class="discount-wrap">
    <input autocomplete="off" type="text" name="discount" placeholder="Gift card or discount code" required /> 
    <button class="next_btn"><img src="https://cdn.shopify.com/s/files/1/0226/0165/t/118/assets/right-arrow.png?257964" width="16px" height="16px"></button>
    </div>
    </div>
</div>
{% endif %}
