  {% include 'breadcrumb' %}
<div class="page-default-template launches-template">
    <div class="order-shipping">
      <p>ORDER WITHIN 01:24:00 FOR SAME DAY SHIPPING </p>
    </div>
  <section id="launches">
    <div class="top_image_banner full_width">
      <img src="https://cdn.shopify.com/s/files/1/0226/0165/files/WebSlider_Shoes8_65228124-d32a-4913-8528-419e4c891548.jpg?268282" width="100%" class="why-image small--hide">  
      <img src="https://cdn.shopify.com/s/files/1/0226/0165/files/Home-banner-mobile_90c2e2b3-ae43-4bc4-9ba6-a1683731b45c.jpg?268737" width="100%" class="why-image medium-up--hide">
    </div>
      <div class="deal-section daysec-countdown" id="deal-section">
    <div class="text-center m0">
      <h3>hurry, deal ends in:</h3>
      <div class="counter">
        <div class="timer-view"><span id="sale_day" class="timer">10</span><span>Days</span></div>
        <div class="timer-view"><span id="day_hours" class="timer">23</span><span>hours</span></div>
        <div class="timer-view"><span id="day_minutes" class="timer">32</span><span>minutes</span></div>
        <div class="timer-view"><span id="day_seconds" class="timer">51</span><span>seconds</span></div>
      </div>
    </div> 
  </div>
  </section>

       
  <section id="get-in-touch" class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-12 set_form">       
          <h2 class="appreal_heading_text appgive-title">REEBOK NANO 9 NEW COLOURWAYS</h2>
          <div class="klaviyo-form-KFPwJ7"></div>
        </div>
      </div>
    </div>
    <h1 class="text-center whyis_sweat"></h1>
  </section>


  <div class="page-width launches-wrapper">
    <div class="blue-wrapper" >
      <div class="grid">

        <div class="grid__item medium-up--one-whole small--one-whole">
          <a href="https://www.thewodlife.com.au/collections/2019-sept-sale/shoes+nike" class="box_view">
            <div class="box_inner row1">
              <div class="text-view">
                <h4>DAY 1</h4> 
              </div>
            </div>
          </a>
        </div>
        <div class="grid__item medium-up--one-half small--one-whole ">
          <a href="https://www.thewodlife.com.au/collections/2019-sept-sale/shoes+reebok" class="box_view">
            <div class="box_inner row2">
              <div class="text-view">
                <h4>DAY 2</h4>
              </div>
            </div>
          </a>
        </div>
        <div class="grid__item medium-up--one-half small--one-whole ">
          <a href="https://www.thewodlife.com.au/collections/2019-sept-sale/gear" class="box_view">
            <div class="box_inner row2">
              <div class="text-view">
                <h4>DAY 3</h4>
              </div>
            </div>
          </a>
        </div>
      </div>          
    </div> 
  </div>
</div>
