<div class="page-default-template">
  <div class="page-width page-search-width 111">
    <div class="section-header text-center">
      <h1>{{ page.title }}</h1>
    </div>
    <div class="rte">
      {{ page.content }}
    </div>
  </div>
</div>
{% section 'newsletter-section' %}
{% if page.handle == 'thanks-newsletter' %}
{% include 'visely-trending-now' %}
{% include 'visely-most-popular' %}
{% endif %}
{% section 'main-bar' %}

<script>
  $( document ).ready(function() {
    setTimeout(function(){
      $(".isp_single_facet_wrapper").addClass("collapsed");
    }, 1500);   
  });  
</script>
<style>
  #isp_search_result_page_container .isp_product_info .isp_product_price_wrapper{
    display: flex !important;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .isp_product_price_wrapper .isp_sold_out_banner_container{margin:0px 7px !important;}
  .isp_product_price_wrapper .isp_sold_out_banner_container:last-child{display:none;}
</style>